* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #fafafa;
  color: #111;
}

/* HEADER */
.site-header {
  display: flex;
  align-items: center;
  padding: 20px 40px;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 20px;
  flex: 1;
}

.header-left img {
  height: 150px;
}

.brand-name {
  font-size: 28px;
  font-weight: 700;
}

.header-nav {
  display: flex;
  gap: 40px;
  justify-content: center;
  flex: 1;
}

.header-nav a {
  text-decoration: none;
  color: grey;
  font-weight: 500;
}

.header-nav a:hover {
  color: black;
}

.header-right {
  flex: 1;
}
